<h1>Post here to sell your item</h1>
<div class = "form">
<form method="POST" align = "center" action= "/postadd">
<font size = "5"><strong>Item Name:</strong></font><input type="text" name="ItemName">
    <br/>
        <font size = "5"><strong>Price:</strong></font> <input type="number" name="Price">
    <br/>
    <font size = "5"><strong>Seller ID:</strong></font> <input type="text" name="Seller_ID">
    <br/>
    <font size = "5"><strong>Description:</strong></font> <input type="text" name="Description">
    <br/>
    <input type="submit">
</form>
</div>